<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AngolaGame.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84016AF41F5B218E0006DDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84016B0B1F5B218E0006DDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84016B161F5B218E0006DDBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
